body{
    margin: 0;
}

.header {
    overflow: hidden;
    background-color: #50C878	;
    padding: 20px 10px;
    height: 100px;
    margin: 0;
}

.header a {
    float: left;
    color: white;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 20px;
    line-height: 25px;
    border-radius: 4px;
    margin-top: 25px;
}

.header a.logo {
    font-size: 45px;
    font-weight: bold;
    padding-left: 90px;

}

.header a:hover {
    background-color: #90EE90;
    color: black;
}

.header a.active {
    background-color: #90EE90;
    color: white;
    text-align: center;

}

.header-right {
    float: right;
}

@media screen and (max-width: 500px) {
    .header a {
        float: none;
        display: block;
        text-align: left;
    }
    .header-right {
        display: flex;
    }
}
p{
    margin-left: 50px;
}



